{% extends 'home/base.html' %} {% block content %}
<section
  id="section-jumbotron"
  class="
    jumbotron jumbotron-fluid
    d-flex
    justify-content-center
    align-items-center
  "
>
  <div
    style="
      margin-left: 80px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 2%;
    "
  >
    <h3>Credentials</h3>
    <br />

    <h4>Admin</h4>
    <p>User: superuser <br />Pass: superuser</p>
    <br />

    <h4>Student</h4>
    <p>User: st<br />Pass: st</p>
    <br />

    <h4>Teacher</h4>
    <p>User: tt<br />Pass: tt</p>
  </div>

  <div class="container text-center">
    <h2 class="display-4 text-info">Welcome to <br />Online Exam</h2>
    <br />
    <p><strong> Start Your Journey Here:</strong></p>
    <br />
    <a
      href="/student/studentsignup"
      class="btn btn-lg btn-info"
      style="padding-right: 35px"
      ><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a
    >
  </div>
</section>
{% endblock %}
