<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Online Exam</title>
  <style>
    body{
      
    }
  </style>
</head>
<body style="background: #EDF0F5">
	{% include 'home/nav.html' %}
  <br><br><br>

	<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center" style="background: #EDF0F5">
  <div class="container text-center">
    <h2 class="display-4 text-info">Welcome to <br>Online Exam</h2>
    <br>
    <p><strong> Start Your Journey Here:</strong></p>
    <br>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>

{% include 'home/footer.html' %}
</body>
</html>